<div class="container">
  <div class="card-container">
    <div class="logo-container">
      <img class="logo" src="../../../assets/images/logo.png" alt="Logo">
    </div>
    <form (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Identifiant</mat-label>
        <input matInput id="email" type="email" name="email" placeholder="Identifiant" [(ngModel)]="credentials.email">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input matInput id="password" type="password" name="pwd" placeholder="Mot de passe" [(ngModel)]="credentials.pwd">
      </mat-form-field>

      <button id="submit" type="submit">Connexion</button>
      <button type="button" (click)="ToRegister()">S'inscrire</button>
    </form>
  </div>
</div>
