.anchor {
    @include link($bleu-hyperlien);
    &.with-picto {
        position:relative;
        &:after {
            border-left: 2px solid $bleu-hyperlien;
            border-bottom: 2px solid $bleu-hyperlien;
            content: '';
            display: inline-block;
            height: 8px;
            transform: rotate(225deg);
            vertical-align: middle;
            width: 8px;
            position: absolute;
            right: -13px;
            top: calc(50% - 4px);
        }
    }
}
