$font-primary: "Arial", sans-serif;
$color-primary: #5a29e4;
$color-secondary: #282828;
$color-light: #ffffff;
$color-grey: #f0f0f0;
$background-light: #eaeaea;

body {
  font-family: $font-primary;
  background-color: $background-light;
  color: $color-secondary;
  margin: 0;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: $color-light;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.shopping-cart {
  width: 60%;
  h1 {
    color: $color-primary;
  }
  .item {
    background-color: $color-grey;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;

    h2 {
      font-size: 16px;
      color: $color-primary;
    }

    p {
      font-size: 14px;
      margin: 5px 0;
    }
  }
}

.order-info {
  width: 35%;
  background-color: $color-light;
  padding: 20px;
  border-radius: 5px;

  h1 {
    color: $color-primary;
  }

  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;

    label {
      font-weight: bold;
      margin-bottom: 5px;
    }

    input[type="text"],
    input[type="email"] {
      padding: 8px;
      border: 1px solid $color-grey;
      border-radius: 4px;
      &:focus {
        outline: none;
        border-color: $color-primary;
      }
    }

    button {
      background-color: $color-primary;
      color: $color-light;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken($color-primary, 10%);
      }
    }
  }
}
