@import '../../../styles';

.header {
  .custom-flex {
    display: flex;
    background-color: rgba(250, 208, 83, 1);
    height: 85vh;
    width: 100%;
    border-radius: 32px;
    margin: 16px 0;
    &--column:first-child {
      .header-img {
        background-image: url("../../../assets/images/header-img.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 515px;
        width: 515px;
        transform: translateY(75px);
      }
    }

    &--column:last-child {
      display: flex;
      flex-direction: column;
      justify-content: center;
      transform: translateY(-50px);
      .subtitle-01 {
        font-size: $font-size-extra;
        font-weight: $font-weight-bold;
        color: $color-grey;
        transform: translateX(-100px);
      }
      .heading-01 {
        font-size: $font-size-extraLarge;
        font-weight: $font-weight-bold;
        color: $color-grey;
        text-align: end;
      }
      .paragraph-01 {
        font-size: $font-size-xxl;
        font-weight: $font-weight-light;
        color: $color-grey;
        text-align: end;
      }
    }
  }
}

.category {
  margin: 32px 0;
  .heading-01 {
    text-align: center;
    font-size: $font-size-xxxxxxl;
    font-weight: $font-weight-bold;
    color: $color-grey;
    margin: 32px 0;

  }
  .custom-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 32px 0;
    margin-bottom: 32px;


    .small-card {
      width: 100%;
      height: 400px;
      max-width: 400px;
      border-radius: 32px;

    }

    .large-card {
      width: 550px;
      height: 400px;
      border-radius: 32px;


    }

    &--column {
      box-shadow: $shadow-card-black;
      .title {
        font-size: $font-size-xxxxxl;
        color: $color-white;
        font-weight: $font-weight-bold;
        padding: 16px;
        text-transform: uppercase;
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.01);
        transition: all 0.3s ease;
      }
    }
    &--column:nth-child(1) {
      background-color: rgba(39, 39, 39, 0.9);
      .title {

      }
      .img {
        background-image: url("../../../assets/images/airpods.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 279px;
        width: 258px;
        transform: translate(130px, 0);

      }
    }
    &--column:nth-child(2) {
      background-color: rgba(231, 27, 72, 0.9);
      .title {

      }
      .img {
        background-image: url("../../../assets/images/watch.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 294px;
        width: 300px;
        transform: translate(100px, -20px);

      }
    }
    &--column:nth-child(3) {
      background-color: rgba(238, 116, 24, 0.9);
      .title {

      }
      .img {
        background-image: url("../../../assets/images/desk-computer.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 256px;
        width: 358px;
        transform: translate(150px, 20px);
      }
    }
    &--column:nth-child(4) {
      background-color: rgba(232, 232, 232, 0.9);
      .title {
        color: #272727;

      }
      .img {
        background-image: url("../../../assets/images/laptop.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 250px;
        width: 530px;
        transform: translate(10px, 50px);
      }
    }
    &--column:nth-child(5) {
      background-color: rgba(79, 64, 146, 0.9);
      .title {

      }
      .img {
        background-image: url("../../../assets/images/speakers.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 263px;
        width: 342px;
        transform: translate(30px, 50px);
      }
    }
    &--column:nth-child(6) {
      background-color: rgba(164, 78, 152, 0.9);
      .title {

      }
      .img {
        background-image: url("../../../assets/images/utils.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 204px;
        width: 398px;
        transform: translate(0, 100px);
      }
    }
  }

}

.actuality {
  padding: 48px 8px;
  background: $black-to-grey;
  .heading-01 {
    text-align: start;
    font-size: $font-size-xxxxxl;
    font-weight: $font-weight-light;
    text-transform: uppercase;
    color: $color-cyan;
  }
  .subtitle-01 {
    text-align: start;
    font-size: $font-size-xxxxl;
    font-weight: $font-weight-medium;
    color: $color-white;
  }

  button {
    width: 200px;
    height: 50px;
    background-color: $color-purple;
    border-radius: 4px;
    color: $color-white;
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    border: none;
    align-self: center;
    a {
      text-decoration: none;
      color: $color-white;
      &:after {
        text-rendering: auto;
        border-bottom: 3px solid #FFFFFF;
        border-left: 3px solid #FFFFFF;
        content: "";
        display: inline-block;
        height: 9px;
        position: relative;
        top: 0;
        left: 5px;
        transform: rotate(-135deg);
        transition: all 0.3s ease;
        vertical-align: 1px;
        width: 9px;
        @media(max-width: 479px) {
          width: 10px;
        }
      }

    }
    &:hover {
      cursor: pointer;
      background-color: $color-cyan;
      transition: all 0.3s ease;
    }

  }
  .custom-flex {
    margin: 32px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .custom-flex--column:first-child {
      display: flex;
      &:hover {
        cursor: pointer;
        transform: scale(1.01);
        transition: all 0.3s ease;
      }
      .custom-flex--column_sub:first-child {
        background-image: url("../../../assets/images/aboutEpsi.png");
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: $shadow-card-white;
        background-position: center;
        height: 400px;
        width: 250px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        .img {
       }
      }
      .custom-flex--column_sub:last-child {
        width: 450px;
        height: 400px;
        background-color: $color-white;
        box-shadow: $shadow-card-white;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;

        .title {
          font-size: $font-size-xxl;
          font-weight: $font-weight-bold;
          color: $color-cyan;
          text-transform: uppercase;

        }
        .paragraph-01 {

        }

        button {
          width: 200px;
          height: 50px;
          background-color: $color-purple;
          border-radius: 4px;
          color: $color-white;
          font-size: $font-size-xl;
          font-weight: $font-weight-bold;
          text-transform: uppercase;
          border: none;
          align-self: flex-end;
          &:hover {
            cursor: pointer;
            background-color: $color-cyan;
            transition: all 0.3s ease;
          }

          a {
            text-decoration: none;
            color: $color-white;
          }
        }
      }
    }
    .custom-flex--column:last-child {
      display: flex;
      &:hover {
        cursor: pointer;
        transform: scale(1.01);
        transition: all 0.3s ease;
      }
      .custom-flex--column_sub:first-child {
        .img {
          background-image: url("../../../assets/images/formations.png");
          background-size: cover;
          background-repeat: no-repeat;
          box-shadow: $shadow-card-white;
          background-position: center;
          height: 400px;
          width: 250px;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;

        }
      }
      .custom-flex--column_sub:last-child {
        width: 450px;
        height: 400px;
        background-color: $color-white;
        box-shadow: $shadow-card-white;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;

        .title {
          font-size: $font-size-xxl;
          font-weight: $font-weight-bold;
          color: $color-cyan;
          text-transform: uppercase;

        }
        .paragraph-01 {

        }

        button {
          width: 200px;
          height: 50px;
          background-color: $color-purple;
          border-radius: 4px;
          color: $color-white;
          font-size: $font-size-xl;
          font-weight: $font-weight-bold;
          text-transform: uppercase;
          border: none;
          align-self: flex-end;
          &:hover {
            cursor: pointer;
            background-color: $color-cyan;
            transition: all 0.3s ease;
          }

          a {
            text-decoration: none;
            color: $color-white;
          }
        }
      }
    }
  }
}
