<section class="header">
  <div class="main--container">
      <div class="custom-flex">
        <div class="custom-flex--column">
          <div class="header-img"></div>
        </div>
        <div class="custom-flex--column">
          <div class="subtitle-01">Bienvenue sur</div>
          <div>
            <div class="heading-01">L’EPSI Store</div>
            <div class="paragraph-01">Retrouvez tous vos produits à bas prix&nbsp;!</div>
          </div>
        </div>
      </div>
  </div>
</section>


<section class="category">
  <div class="main--container">
    <div class="heading-01">NOS DERNIERS AJOUTS</div>
      <div class="custom-flex">
        <div class="custom-flex--column small-card">
          <div class="title">Ecouteurs sans fil</div>
          <div class="img"></div>
        </div>
        <div class="custom-flex--column small-card">
          <div class="title">Montres connectés</div>
          <div class="img"></div>
      </div>
      <div class="custom-flex--column large-card">
        <div class="title">Ordinateurs de bureau</div>
        <div class="img"></div>
      </div>
      <div class="custom-flex--column large-card">
        <div class="title">Matériel gaming</div>
        <div class="img"></div>
      </div>
      <div class="custom-flex--column small-card">
        <div class="title">Enceintes</div>
        <div class="img"></div>
      </div>
      <div class="custom-flex--column small-card">
        <div class="title">Périphériques</div>
        <div class="img"></div>
      </div>
    </div>
  </div>
</section>

<section class="actuality">
  <div class="main--container">
    <div class="heading-01">ACTUALITÉS</div>
    <div class="subtitle-01">Découvez toutes les actualités<br>
      de notre site e-commerce et de nos ecoles d’informatique.</div>
    <div class="custom-flex">
      <div class="custom-flex--column">
        <div class="custom-flex--column_sub">
          <div class="img"></div>
        </div>
        <div class="custom-flex--column_sub">
          <div class="title">NOS FORMATIONS POST BAC CHEZ L’EPSI</div>
          <div class="paragraph-01">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra porta ex, quis rutrum augue vulputate vel. Suspendisse vitae scelerisque nibh. Duis iaculis purus at ante elementum mollis. Phasellus vel augue consequat, finibus ligula at, facilisis dolor.</div>
          <button><a routerLink="/article/:id">En voir plus</a></button>
        </div>
      </div>
      <div class="custom-flex--column">
        <div class="custom-flex--column_sub">
          <div class="img"></div>
        </div>
        <div class="custom-flex--column_sub">
          <div class="title">CE QU’IL FAUT SAVOIR SUR L’EPSI STORE</div>
          <div class="paragraph-01">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra porta ex, quis rutrum augue vulputate vel. Suspendisse vitae scelerisque nibh. Duis iaculis purus at ante elementum mollis. Phasellus vel augue consequat, finibus ligula at, facilisis dolor.</div>
          <button><a routerLink="/article/:id">En voir plus</a></button>
        </div>
      </div>
    </div>
    <button><a routerLink="/articles">Nos articles</a></button>
  </div>
</section>

